module.exports = {
    host:           '0.0.0.0', 
    port:           18080,
    account:        'helloeosgogo',
    endpoint:       'https://junglehistory.cryptolions.io',
    chainId:        '038f4b0fc8ff18a4f0842a8f0564611f6e96e8535901dd45e43ac8691a1c4dca',
    keyProvider:    ['5JxpDLxnT3xeLKrXGxE4gPQg6ZXA6FRoNsgz1E44Lwi1DocVtyX'],
    // auth: {
    //     users: [
    //         {
    //             login: "username",
    //             hash: "password"
    //         }
    //     ]
    // }
}