module.exports = {
    host:           '0.0.0.0', 
    port:           18888,
    account:        'helloeosgogo',
    endpoint:       'https://junglehistory.cryptolions.io',
    chainId:        'e70aaab8997e1dfce58fbfac80cbbb8fecec7b99cf982a9444273cbc64c41473',
    keyProvider:    ['5KjmTHxHJcxAW22r3fMwhfjUEtcxrWPQL2XESNsn8XRdqsfyWHb'],
    // auth: {
    //     users: [
    //         {
    //             login: "username",
    //             hash: "password"
    //         }
    //     ]
    // }
}